<ul class="menu menu-icons">
    <li class="menu-item menu-item-icon"><i class="icon fa fa-times"></i></li>
    <li class="menu-item menu-item-icon"><i class="icon fa fa-times"></i></li>
</ul>
<ul class="menu menu-full">
    <li class="menu-item">
        <i class="icon fa fa-times"></i>
        <span>Uno</span>
    </li>
    <li class="menu-item">
        <i class="icon fa fa-times"></i>
        <span>Dos</span>
    </li>
</ul>