<div class="modal" id="modal-php-net-viewer">
    <div class="modal-window">
        <div class="modal-loader"><i class="icon fa fa-circle-notch"></i></div>
        <div class="modal-window-head">
            <div class="modal-window-head-child modal-window-head-left">
                <p>PHP net viewer</p>
            </div>
            <div class="modal-window-head-child modal-window-head-right">
                <i class="icon fa fa-times" data-modal-button="close"></i>
            </div>
        </div>
        <div class="modal-window-body">
            <h3>Title</h3>
            <iframe src="" style="width:100%; display:block; height:500px; "></iframe>
        </div>
        <div class="modal-window-footer">
            <button class="btn btn-secondary" data-modal-button="close"><span class="text">Close</span></button>
        </div>
    </div>
</div>