<div class="modal" id="modal-php-net-viewer">
    <div class="modal-window">
        <div class="modal-window-head">
            <div class="modal-window-head-child modal-window-head-left">
                <p>PHP net viewer</p>
            </div>
            <div class="modal-window-head-child modal-window-head-right">
                <i class="icon fa fa-times" data-modal-button="close"></i>
            </div>
        </div>
        <div class="modal-window-body"></div>
        <div class="modal-window-footer">
            <button class="btn btn-secondary" data-modal-button="close">Close</button>
            <button class="btn btn-secondary" data-modal-button="cambur">Cambur</button>
        </div>
    </div>
</div>