
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--app-font-color);
}

*:not(.icon) {
    font-family: sans-serif, Arial;
}

:root {
    /* Inputs */
    --app-input-height: 35px;
    --app-input-border: #ccc;
    --app-inputs-gap: 10px;
    /* Text */
    --app-font-size: 16px;
    --app-font-color: rgba(255, 255, 255, 0.8);
    --app-font-color-80perc: rgba(255, 255, 255, 0.6);
    /* Header */
    --app-header-height: 60px;
    /* Menu */
    --app-menu-width-hover: 60px;
    --app-menu-width: 280px;
    --app-menu-item-size: 40px;
    --app-menu-width-padding: calc(var(--app-menu-width-hover) / 2);
    --app-menu-shadow: 0 20px 20px 7px rgba(0, 0, 0, .15);
    /* Modals */
    --app-modal-head-height: 35px;
    --app-modal-head-padding: 15px;
    /* General */
    --app-background: #212830;
    --app-background-dark: #151b23;
    --app-overlay-1: rgba(0, 0, 0, .5);
    --app-overlay-2: rgba(255, 255, 255, .5);
    --app-radius-1: 5px;
    --app-radius-2: 10px;
    --app-center-width: 1200px;
}

::placeholder {
    font-size: var(--app-font-size);
    color: var(--app-font-color-80perc);
}

::-ms-input-placeholder {
    font-size: var(--app-font-size);
    color: var(--app-font-color-80perc);
}


html {
    font-size: var(--app-font-size);
    background: var(--app-background);
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 1rem;
    line-height: 1.6;
}

.app-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.app-container > .app-header {
    width: 100%;
    height: var(--app-header-height);
}

.app-container > .app-menu {
    width: 90%;
    max-width: var(--app-menu-width-hover);
    height: calc(100% - var(--app-header-height));
    position: relative;
    z-index: 100;
}

.app-container > .app-body {
    width: calc(100% - var(--app-menu-width-hover));
    height: calc(100% - var(--app-header-height));
    overflow-x: hidden;
    overflow-y: auto;
}


/* ---------------- texts ---------------- */
/* ---------------- texts ---------------- */
/* ---------------- texts ---------------- */


h1 {
    font-size: 2.5rem;
    line-height: 1.2;
}

h2 {
    font-size: 2rem;
    line-height: 1.3;
}

h3 {
    font-size: 1.75rem;
    line-height: 1.4;
}

h4 {
    font-size: 1.5rem;
    line-height: 1.5;
}

h5 {
    font-size: 1.25rem;
    line-height: 1.6;
}

h6 {
    font-size: 1rem;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

p, ul, ol, blockquote, pre, td, th, input, button {
    font-size: 1rem;
}

small {
    font-size: 0.875rem;
}

mark {
    font-size: 1rem;
}

code {
    font-size: 0.9rem;
}

strong, em, b, i {
    font-size: inherit;
}


.section {
    width: 100%;
    padding: 30px 20px;
}

.section .container {
    width: 100%;
    max-width: var(--app-center-width);
    margin: auto;
    margin-bottom: 20px;
}

.section .container:last-child {
    margin-bottom: 0;
}

.section .container.container-flex {
    gap: 10px 20px;
    row-gap: 10px;
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
}

.section .container.container-flex > * {
    order: 4;
    width: auto;
}


.item-list {
    list-style: none;
}

.item-list > .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    margin-bottom: 10px;
    padding: 0 20px;
    border-radius: var(--app-radius-2);
    background: rgba(0, 0, 0, .3);
    border: 1px solid rgba(0, 0, 0, .6);
    box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0.03);
}

.item-list > .item > .text-container {
    overflow: hidden;
}

.item-list > .item > .text-container > .text {
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}

.item-list > .item > .icon-group {
    display: flex;
}


/* ---------------- buttons ---------------- */
/* ---------------- buttons ---------------- */
/* ---------------- buttons ---------------- */

/*
<button class="btn btn-primary">
    <span class="text">Text</span>
</button>
*/

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--app-input-height);
    padding: 0 15px;
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: var(--app-radius-1);
    cursor: pointer;
}

.btn:hover {
    background: #ebebeb;
}

.btn > .text-icon,
.btn > .text {
    display: block;
    margin-right: 10px;
    line-height: 20px;
}

.btn > .text-icon:last-child,
.btn > .text:last-child {
    margin-right: 0;
}


.btn-icon {
    border-radius: 50%;
    padding: 0;
    width: var(--app-input-height);
}


.btn.btn-primary {
    background: #1a93f7;
    border: 1px solid #1986df;
}

.btn.btn-primary:hover {
    background: #1986df;
}

.btn.btn-primary > .text-icon,
.btn.btn-primary > .text {
    color: #fff;
}


.btn.btn-success {
    background: #05be6b;
    border: 1px solid #05ad62;
}

.btn.btn-success:hover {
    background: #05ad62;
}

.btn.btn-success > .text-icon,
.btn.btn-success > .text {
    color: #fff;
}


.btn.btn-secondary {
    background: #6c757d;
    border: 1px solid #5a6268;
}

.btn.btn-secondary:hover {
    background: #5a6268;
}

.btn.btn-secondary > .text-icon,
.btn.btn-secondary > .text {
    color: #fff;
}


/* ---------------- button group ---------------- */
/* ---------------- button group ---------------- */
/* ---------------- button group ---------------- */


.btn-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btn-group > .btn {
    margin-right: var(--app-inputs-gap);
    border-right-width: 0;
}

.btn-group.btn-group-stuck > .btn {
    border-radius: 0;
}

.btn-group.btn-group-large > .btn {
    flex: 1;
    width: 100%;
}

.btn-group.btn-group-stuck > .btn {
    margin-right: 0;
}

.btn-group.btn-group-stuck > .btn:first-child {
    border-top-left-radius: var(--app-radius-2);
    border-bottom-left-radius: var(--app-radius-2);
}

.btn-group.btn-group-stuck > .btn:last-child {
    border-top-right-radius: var(--app-radius-2);
    border-bottom-right-radius: var(--app-radius-2);
}

.btn-group > .btn:last-child {
    margin-right: 0;
    border-right-width: 1px;
}


/* ---------------- icons ---------------- */
/* ---------------- icons ---------------- */
/* ---------------- icons ---------------- */


.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 50%;
    border: 0;
    width: var(--app-input-height);
    height: var(--app-input-height);
    line-height: var(--app-input-height);
    cursor: pointer;
}

.icon:hover {
    background: rgba(0, 0, 0, 0.03);
}


/* ---------------- input groups ---------------- */
/* ---------------- input groups ---------------- */
/* ---------------- input groups ---------------- */


.input-text {
    height: var(--app-input-height);
    border-radius: var(--app-radius-2);
    border: 1px solid var(--app-input-border);
    padding: 0 15px;
    display: inline-flex;
    background: rgba(255, 255, 255, 0.2);
}

.input-text:focus {
    outline: 0;
    background: rgba(255, 255, 255, 0.3);
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.input-group > .input-text,
.input-group > .btn {
    margin-right: var(--app-inputs-gap);
}


.input-group-stuck > .input-text,
.input-group-stuck > .btn {
    margin-right: 0;
    border-radius: 0;
    border-right-width: 0;
}

.input-group-stuck > .input-text:first-child,
.input-group-stuck > .btn:first-child {
    border-top-left-radius: var(--app-radius-2);
    border-bottom-left-radius: var(--app-radius-2);
}

.input-group-stuck > .input-text:last-child,
.input-group-stuck > .btn:last-child {
    border-top-right-radius: var(--app-radius-2);
    border-bottom-right-radius: var(--app-radius-2);
    border-right-width: 1px;
}

.input-group-large > .input-text {
    flex: 1;
    width: 100%;
}


/* ---------------- other devices ---------------- */
/* ---------------- other devices ---------------- */
/* ---------------- other devices ---------------- */


@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 1920px) {
    html {
        font-size: 18px;
    }
}