{% extends 'layout/base.html.twig' %}

{% block body %}
    {% for user in users %}
        <p>
            <span>{{ user.username }}</span>
            <span>{{ user.email }}</span>
        </p>
        <hr/>
    {% endfor %}
{% endblock %}