<ul class="menu menu-icons">
    <li class="menu-item menu-item-icon"><i class="icon far fa-file-doc"></i></li>
    <li class="menu-item menu-item-icon"><i class="icon far fa-code-branch"></i></li>
    <li class="menu-item menu-item-icon"><i class="icon fal fa-radio-tuner"></i></li>
    <li class="menu-item menu-item-icon"><i class="icon far fa-newspaper"></i></li>
</ul>
<ul class="menu menu-full">
    <li class="menu-item">
        <a href="{{ path('watch.rfcs.findAll') }}">
            <i class="icon far fa-file-doc"></i>
            <span>RFC list</span>
        </a>
    </li>
    <li class="menu-item">
        <a href="{{ path('watch.versions.findAll') }}">
            <i class="icon far fa-code-branch"></i>
            <span>PHP Versions</span>
        </a>
    </li>
    <li class="menu-item">
        <a href="#">
            <i class="icon fal fa-radio-tuner"></i>
            <span>News</span>
        </a>
    </li>
    <li class="menu-item">
        <a href="#">
            <i class="icon far fa-newspaper"></i>
            <span>Articles</span>
        </a>
    </li>
</ul>